html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  border-radius: 0px;
}
